.App {
  text-align: center;
}
.App-header {
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(29, 29, 29);
}

.App-header h1{
  font-size: 1.4em;
}

.App-header h2{
  font-size:1em;
}

.App-link {
  color: #09d3ac;
}

.minha_foto{
  border-radius: 3px;
}
